<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>Test Method AAA</Title>
      <Shortcut>testa</Shortcut>
      <Description>Code snippet for a test method with Arrange Act Assert comments.</Description>
    </Header>
    <Snippet>
      <Imports>
        <Import>
          <Namespace>Microsoft.VisualStudio.TestTools.UnitTesting</Namespace>
        </Import>
      </Imports>
      <References>
        <Reference>
          <Assembly>Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll</Assembly>
        </Reference>
      </References>
      <Declarations>
        <Literal>
          <ID>name</ID>
          <ToolTip>Replace with the name of the test method</ToolTip>
          <Default>MyTestMethod</Default>
        </Literal>
          <Literal Editable="false">
            <ID>TestMethod</ID>
            <Function>SimpleTypeName(global::Microsoft.VisualStudio.TestTools.UnitTesting.TestMethod)</Function>
          </Literal>
      </Declarations>
      <Code Language="csharp"><![CDATA[[$TestMethod$]
      public void $name$()
      {
        // Arrange
        $end$

        // Act
        

        // Assert        
          
      }]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>