<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>Assert.Fail</Title>
      <Shortcut>afl</Shortcut>
      <Description>Code snippet for an Assert.Fail().</Description>
    </Header>
    <Snippet>
      <Imports>
        <Import>
          <Namespace>Microsoft.VisualStudio.TestTools.UnitTesting</Namespace>
        </Import>
      </Imports>
      <References>
        <Reference>
          <Assembly>Microsoft.VisualStudio.TestPlatform.TestFramework.dll</Assembly>
        </Reference>
      </References>      
      <Code Language="csharp">
      <![CDATA[Assert.Fail();$end$]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>