<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>Assert.AreEqual</Title>
      <Shortcut>ae</Shortcut>
      <Description>Code snippet for an Assert.AreEqual().</Description>
    </Header>
    <Snippet>
      <Imports>
        <Import>
          <Namespace>Microsoft.VisualStudio.TestTools.UnitTesting</Namespace>
        </Import>
      </Imports>
      <References>
        <Reference>
          <Assembly>Microsoft.VisualStudio.TestPlatform.TestFramework.dll</Assembly>
        </Reference>
      </References>      
      <Declarations>
        <Literal>
          <ID>expected</ID>
          <ToolTip>Replace with the name of the expected value</ToolTip>
          <Default>expected</Default>
        </Literal>
        <Literal>
          <ID>actual</ID>
          <ToolTip>Replace with the name of the actual value</ToolTip>
          <Default>actual</Default>
        </Literal>
      </Declarations>
      <Code Language="csharp">
      <![CDATA[Assert.AreEqual($expected$, $actual$);$end$]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>